.custom-header {
  background-color: #F4D4D6 !important; /* pastel pink */
}

.custom-header .navbar-brand {
  color: #EE747A !important; /* logo pink */
}

.custom-header .nav-link {
  color: #333 !important;
}

.custom-header .nav-link:hover {
  color: #EE747A !important;
}
